extend layout
block autocomplete
    .input-group
        input(type='text' class='form-control' placeholder='Find Location...')
        span.input-group-btn
            button.btn.btn-primary(type='button') Search!

block content
    table.table
        thead
            tr
                th #
                th First Name
                th Last Name
                th Username
        tbody
            tr
                td 1
                td Mark
                td Otto
                td @mdo

block sidebar
    .widget
        h4 Widget
        p
            |  later replace this with google map api
            | for sure.
        p
            | definitely use maps to map pin
            | hahah
