doctype
html
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        meta(name='description', content='Geo Logger from Google autocomplete plugin and checking 10/50 from NSW regulation')
        meta(name='author', content='Hans.W')
        title #{title} - GeoLogger
        link(rel='stylesheet', href='/css/bootstrap.min.css')
    body
        .container.theme-showcase(role='main')
            .page-header.text-center
                h1 Address Search & logger
            .page-header
                h3 Find Location
            .row
                .col-md-12
                    block autocomplete
            .page-header
                h3 Log Record
            .row
                .col-md-6
                    block content
                .col-md-6
                    block sidebar
            hr
            #footer
                .container.text-center
                    p.text-muted.credit Geographicall Logger using Express, Jade & Bootstrap
        .script-Wrapper
            script(type='text/javascript' src='/js/jquery.min.js')
            script(type='text/javascript' src='/js/bootstrap.min.js')
